server:
  port: 80
eureka:
  client:
    serviceUrl:
      defaultZone: http://servizio-registry:8010/eureka
spring:
  application:
    name: ApiGateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      routes:
        - id: sign-in
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/login
        - id: sign-in-google
          uri: lb://USER-SERVICE
          predicates:
            Path=/login/**
        - id: sign-in-google-2
          uri: lb://USER-SERVICE
          predicates:
            Path=/oauth2/**
        - id: sign-up
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/signUp
        - id: validateToken
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/validateToken
        - id: service-events
          uri: lb://EVENT-SERVICE
          predicates:
            Path=/api/v1/evento/**
          filters:
          - AuthFilter
        - id: service-tipo-evento
          uri: lb://EVENT-SERVICE
          predicates:
            Path=/api/v1/tipo-evento/**
        - id: service-user
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/utente/**
          filters:
            - AuthFilter
        - id: service-municipality
          uri: lb://MUNICIPALITY-SERVICE
          predicates:
            Path=/api/v1/comune/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://93-41-149-178.ip82.fastwebnet.it"
            allowedHeaders: "*"
            allowedMethods: "*"