server:
  port: 80
eureka:
  client:
    serviceUrl:
      defaultZone: http://servizio-registry:8010/eureka
spring:
  application:
    name: ApiGateway
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      routes:
        - id: sign-in
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/login
        - id: sign-up
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/signUp
        - id: validateToken
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/validateToken
        - id: service-events
          uri: lb://EVENT-SERVICE
          predicates:
            Path=/api/v1/evento/**
          filters:
          - AuthFilter
        - id: service-user
          uri: lb://USER-SERVICE
          predicates:
            Path=/api/v1/utente/**
          filters:
            - AuthFilter
        - id: service-municipality
          uri: lb://MUNICIPALITY-SERVICE
          predicates:
            Path=/api/v1/comune/**
          filters:
            - AuthFilter
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedHeaders: "*"
            allowedMethods: "*"